<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022437937361-m8t807465821uflmvf7316okumliep16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022437937361-m8t807465821uflmvf7316okumliep16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022437937361-abqlljqaq6r1k73vomh98c15vb2tburl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWnlrqGeA_60mkgxGf-xwlxGc0FgaC5H8</string>
	<key>GCM_SENDER_ID</key>
	<string>1022437937361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aonelibrary.learningProject</string>
	<key>PROJECT_ID</key>
	<string>a-one-library-4f390</string>
	<key>STORAGE_BUCKET</key>
	<string>a-one-library-4f390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022437937361:ios:04fd62fbae1905e751b5f0</string>
</dict>
</plist>